.blog-post {
  font-weight: 100;
  font-size: x-large;

  h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 700;
  }

  header {
    h1 {
      color: $secondary-color;
      font-weight: 700;
    }

    p {
      font-weight: 600;
      letter-spacing: 0.125rem;
    }
  }

  &__footer {
    font-size: large;

    .bio {
      .bio-avatar {
        border: 0.12rem solid #ffffff;
      }

      p {
        font-size: smaller;
        font-weight: 900;
      }
    }
  }
}
